# virtual envs
venv/
.venv/
env/
myenv/

# model artifacts



# Python junk
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.ipynb_checkpoints/
.pytest_cache/

!/data/kepler_cumulative.csv
!/data/user_added.csv
!/data/TOI*.csv